<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="acerca-de-nosotros.component.css">

</head>

<body>
    <section class="container">
        <nav>
            <span class="logo">BECAS ULEAM</span>
            <ul>
                <li class="link"><a href="../pagina-web/"><strong>INICIO</strong> </a></li>
                <li class="link"><a href="../ayudas-economicas/"><strong>AYUDA ECONÓMICAS</strong></a></li>
                <li class="link"><a href="../consulta-de-beca/"><strong>CONSULTA</strong></a></li>
                <li class="link"><a href="../contacto/"><strong>CONTACTO</strong></a></li>
                <li class="link"><a href="../login/"><strong>LOGIN</strong></a></li>
            </ul>
        </nav>
    </section>

    <section class="sol">
        <legend>
            <h1>ACERCA DE NOSOTROS:</h1>
            <br>
        </legend>
        <br>
        <p>
            La página de 'BECAS ULEAM' tiene como objetivo ofrecer a nuestros usuarios un servicio de calidad y
            contribuir en la construcción de su futuro. Como software, nos esforzamos en proporcionar
            la mejor experiencia posible, garantizando así la satisfacción de nuestros usuarios en todo momento.
            <br><br>
            Esta página está dividida en varias secciones, lo cual facilita su navegación.
            Este formato es una forma perfecta de configurar tu página, porque guía al usuario poco a poco
            de una forma que no resulta abrumadora.
            <br><br>
            Cada sección está diseñada para atraer al usuario y motivarlo a leer un poco más. Por último,
            la página termina con una sección de ayuda económica, dándole un toque personal de los fundadores,
            a quienes ya puedes considerar amigos.
        </p>
        <br><br>

        <section class="sola">
            <legend>
                <h1>VISIÓN:</h1>
            </legend>
            <br>
            <p>
                Ser un software primordial, presente en cada estudiante de nuestro país,
                logrando un ambiente divertido y seguro donde nuestros usuarios disfruten de un servicio accesible.
            </p>
            <br><br>

            <legend>
                <h1>MISIÓN:</h1>
            </legend>
            <br>
            <p>
                A pesar de la fuerte competencia en el mercado,
                BECAS ULEAM tiene una visión muy clara y se esfuerza por ser el líder en la industria de becas,
                con marcas basadas en la pasión por el aprendizaje y el estilo de vida seguro.
            </p>
        </section>
    </section>

    <div class="pedro">
        <img class="emp" src="../../../assets/img/EMP.png" alt="">
        <div class="icons">
            <i class='bx bxl-invision'></i>
            <i class='bx bxl-dropbox'></i>
            <i class='bx bxl-linkedin'></i>
        </div>
    </div>
</body>

</html>