<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Web</title>
    <link rel="stylesheet" href="pagina-web.component.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <nav>
            <span class="logo">BECAS ULEAM</span>
            <ul>
                <li class="link"><a href="../acerca-de-nosotros/"><strong>ACERCA DE NOSOTROS</strong></a></li>
                <li class="link"><a href="../ayudas-economicas/"><strong>AYUDAS ECONÓMICAS </strong></a></li>
                <li class="link"><a href="../consulta-de-beca/"><strong>CONSULTA </strong></a></li>
                <li class="link"><a href="../contacto/"><strong>CONTACTO</strong></a></li>
            </ul>
        </nav>

        <header>
            <h1>BIENVENIDOS</h1>
            <p>Bienvenidos al Software de Becas y ayuda económica <br>para los estudiantes de la Uleam</p>
            <button type="button"><a href="../arcerca-de-nosotros/">
                    Mas Informacion</a>
                <img src="icons/bxs-right-arrow-alt.svg" alt="">
            </button>
        </header>
        <img class="emp" src="../../../assets/img/EMP.png" alt="">
        <div class="icons">
            <i class='bx bxl-invision'></i>
            <i class='bx bxl-dropbox'></i>
            <i class='bx bxl-linkedin'></i>
        </div>
    </div>
</body>

</html>