/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: #685b87;

}

.container {
  height: 12.2vh;
  width: 100%;
  background-color: white;
  min-width: 2.5rem
}

.logo {
  width: 600;
  font-size: 2.5rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

ul li {
  display: inline-block;
  list-style: none;
  padding: 6px 20px;
  font-weight: 500;
  font-size: 1.7rem;
  transition: all 0.3s ease;
  font-size: 98.5%;
}

ul li:hover {
  background-color: grey;
  border-radius: 0px;
  text-decoration: none;
  padding: 20px;
}

header {
  position: absolute;
  padding: 0 50px;
  bottom: 30%;
}

header h1 {
  font-size: 5rem;
}

header p {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

header button {
  padding: 0 5px;
  width: 140px;
  height: 40px;
  border: 0;
  outline: none;
  color: #fff;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: grey;
  border-radius: 25px;
  transition: width 0.5s;
}

button img {
  display: none;
}

button:hover img {
  display: block;
}

header button:hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

.container .emp {
  position: absolute;
  height: 600px;
  width: 550px;
  right: 7%;
  bottom: 0;
  z-index: 999;
}

.icons {
  position: absolute;
  bottom: 8%;
  padding: 0 50px;
}

.icons i {
  font-size: 2.5rem;
  padding: 0 10px;
  cursor: pointer;
}

.icons i:hover {
  color: #ff4321;
  transition: all 0.3s ease 0s;
}

.link {
  background-color: none;
}

h1 {
  color: white;
}

p {
  color: white;
}

a {
  text-decoration: none;
}